{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Room{% endblock title %}

{% block content %}
{% if is_banned %}
<div class="loading">
    <div class="loading__error">You are banned from this room</div>
</div>
{% else %}
<div class="loading">
    <div class="loading__animation"><div></div><div></div></div>
    <div class="loading__error"></div>
    <div class="loading__message">If loading takes too long, try refreshing the page.</div>
</div>
<div class="content hidden">
    <div id="mute-msg">
        <p>Player is currently muted. Click anywhere to unmute it.</p>
    </div>
    <div class="room-title">
        <h1 id="room-title" class="room-title__name"></h1>
        <button title="Copy link to clipboard" onclick="copyLinkToClipboard(this)" class="btn btn-image"><i class="fa-solid fa-copy"></i></button>
    </div>
    <div class="lobby">
        <div class="chat block">
            <div id="room" room_code="{{ room.id }}"></div>
            <div id="host" host_username="{{ room.host.username }}"></div>
            <div id="user" username="{{ user.username }}"></div>
            <header class="block__header">
                <ul class="tabs">
                    <li class="active">Chat</li>
                </ul>
            </header>
            <div id="chat" class="chat__messages"></div>
            <form onsubmit="event.preventDefault()" class="chat__input">
                <input id="chat-field" type="text" placeholder="Enter message" maxlength="300"/>
                <button title="Send message to chat" class="btn btn-image" onclick="chat.sendMessage()"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
        <div class="main-block block">
            <header class="block__header">
                <ul class="tabs">
                    <li class="active" onclick="changeMainBlock(this, '.playlist')">Playlist</li>
                    <li onclick="changeMainBlock(this, '.search')">Search</li>
                </ul>
            </header>
            <div class="playlist">
                <div id="playlist" class="playlist__tracks"></div>
                <form onsubmit="event.preventDefault()" class="playlist__input">
                    <input id="url-field" type="text" placeholder="Enter youtube url"/>
                    <button title="Add track to playlist" class="btn btn-image" onclick="playlist.addTrack()"><i class="fa-solid fa-plus"></i></button>
                </form>
                <div id="playlist-tooltip" class="playlist__tooltip"></div>
            </div>
            <div style="display: none" class="search">
                <div id="search-results" class="playlist__tracks"></div>
                <form onsubmit="event.preventDefault()" class="playlist__input">
                    <input id="search-field" type="text" placeholder="Enter search query"/>
                    <button id="search-btn" title="Search" class="btn btn-image" onclick="search.search()"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div id="search-tooltip" class="playlist__tooltip"></div>
            </div>
        </div>
        <div class="users block">
            <header class="block__header">
                <ul class="tabs">
                    <li class="active">Online users</li>
                </ul>
            </header>
            <ul id="users-list" class="users__list">
            </ul>
            <div class="users__buttons">
                <button title="View permissions" class="btn btn-image" onclick="permissions.showPermsModal()"><i class="fa-solid fa-list-check"></i></button>
                <button title="View banlist" class="btn btn-image hidden" onclick="banlistModal.show()" host-only><i class="fa-solid fa-user-slash"></i></button>
            </div>
        </div>
    </div>
    <!--Youtube-->
    <div id="player" style="display: none; visibility: hidden;"></div>
    <iframe id="player-sc" style="display: none; visibility: hidden;" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/730761973&auto_play=true&start_track=0"></iframe>
    <!--Player-->
    <div class="audio-player">
        <div class="timeline">
            <div class="progress-tooltip"></div>
            <div class="progress"></div>
        </div>
        <div class="controls">
            <div class="play-container">
                <i onclick="backward()" class="fa-solid fa-backward-step control-button"></i>
                <div class="toggle-play play"></div>
                <i onclick="forward()" class="fa-solid fa-forward-step control-button"></i>
            </div>
            <div class="volume-container">
                <div class="volume-button">
                    <div class="volume icono-volumeMedium"></div>
                </div>
                <input class="volume-slider" type="range" min="0" max="100" step="1">
            </div>
            <div class="time">
                <div class="current">0:00</div>
                <div class="divider">/</div>
                <div class="length"></div>
            </div>
            <i onclick="changeLoop()" class="fa-solid fa-arrow-rotate-left repeat-btn"></i>
            <div class="name">
                <img class="thumb" src="" width="45" height="45" hidden>
                <div class="title"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/socket.js' %}"></script>
    <script src="{% static 'js/utility.js' %}"></script>
    <script src="{% static 'js/users.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/playlist.js' %}"></script>
    <script src="{% static 'js/permissions.js' %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'js/soundcloudAPI.js' %}"></script>
    <script src="{% static 'js/soundcloud.js' %}"></script>
{% endblock scripts %}